.loginButton {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

.loginButton div {
    padding-left: 0.5em;
}

.navSection {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
}

.menuList div {
    padding: 1em;
}

.menuArea {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.navSearch {
    position: absolute;
    right: 0;
    height: 1.8em;
    margin-right: 1em;
    border-bottom: 1px solid black;
}

.navInput {
    border: none;
}

.productCard:hover {
    transform: scale(1.1);
} 

.navBarImg:hover {
    cursor: pointer;
}

.navBarLogin:hover {
    cursor: pointer;
} 

.productImg {
    display: flex;
    justify-content: flex-end;
}

.detailTitle {
    font-size: 25px;
}

.detailPrice {
    font-size: 25px;
}

#dropdown-basic-button {
    margin: 1em 0 1em 0;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.detailBtn {
    width: 100%;
}