.loginButton {
    display: flex;
    justify-content: flex-end;
    margin: 1em;
}

.loginButton div {
    padding-left: 0.5em;
}

.navSection {
    display: flex;
    justify-content: center;
}

.menuList {
    display: flex;
}

.menuList div {
    padding: 1em;
}

.menuArea {
    display: flex;
    justify-content: center;
}

.navSearch {
    position: absolute;
    right: 0;
    height: 1.8em;
    margin-right: 1em;
    border-bottom: 1px solid black;
}

.navInput {
    border: none;
}